<?xml version="1.0" encoding="UTF-8" ?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd">

       
       <bean name = "first" class="springPractice.Doctor">
		   <property name="id" value="102"/>
		   <property name="name" value="gaurav"/>
	   </bean>
	   
	   
	   <bean name="second" class="springPractice.student">
		   <property name="id" value="1000"/>
		   <property name="name" value="ayush"/>
		   <property name="city" value="juc"/>
	   </bean>

</beans>